<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a.myapplication1" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddBillDefault"
            android:label="@string/title_activity_add_bill_default"
            android:parentActivityName=".StartScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="a.myapplication1.StartScreen" />
        </activity>
        <activity
            android:name=".ViewBillsDefault"
            android:label="@string/title_activity_view_bills_default"
            android:parentActivityName=".StartScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="a.myapplication1.StartScreen" />
        </activity>
        <activity
            android:name=".ViewFriendsDefault"
            android:label="@string/title_activity_view_friends_default"
            android:parentActivityName=".StartScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="a.myapplication1.StartScreen" />
        </activity>
    </application>

</manifest>
